@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/fontawesome-webfont.woff2);
}

.arrow {
    font-family: "FontAwesome";
}

body {
    background: #e6edf3;
    width: 120%;
    font-family: sans-serif;
    font-size: 13px;
}

#header {
    display: flex;
    height: 200px;
    width: 100%;
    font-weight: bold;
}

#header > * {
    height: 100%;
    width: fit-content;
}

#user {
    width: 120px;
}

.cell {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0.5px solid rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-title  {
    height: 50%;
}

.company {
    justify-content: start;
    padding: 10px 0 10px 20px;
    color: #6d97d1;
    font-weight: bold;
}

.company:hover {
    cursor: pointer;
    background-color: #fff;
}

.company-title {
    margin-left: 10px;
}

.employees {
    flex-direction: column;
}

.employee {
    width: 100%;
    display: block;
}

table {
    border-collapse: collapse;
}

td {
    border: 0.5px solid rgb(255, 255, 255);
}